<div class="row">
  <div class="col-12">
    <table class="table  table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Movie Id</th>
          <th>Name</th>
          <th>Profit Earned</th>
          <th>Year of Release</th>
          <th>Country</th>
          <th style="width: 15%;" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of moviedata | paginate: { itemsPerPage: 5, currentPage: p, totalItems: total };let i= index">
          <td>{{i+1}}</td>
          <td>
            <div *ngIf="movie.isEdit">
              <input type="text" [(ngModel)]="movie.name" class="form-control" />
            </div>
            <div *ngIf="!movie.isEdit">
              {{movie.name}}
            </div>
          </td>
          <td>{{movie.profitEarned}}</td>
          <td>
            <div *ngIf="movie.isEdit">
              <input type="text" [(ngModel)]="movie.yearOfRelease" class="form-control" />
            </div>
            <div *ngIf="!movie.isEdit">
              {{movie.yearOfRelease}}
            </div>
          </td>
          <td>
            <div *ngIf="movie.isEdit">
              <input type="text" [(ngModel)]="movie.country" class="form-control" />
            </div>
            <div *ngIf="!movie.isEdit">
              {{movie.country}}
            </div>
          </td>

          <td style="width: 15%;" class="text-center">
            <div *ngIf="movie.isEdit">
              <button class="btn btn-sm btn-success" (click)="saveMovie()" aria-hidden="true">Save</button>
              <button class="btn btn-sm btn-danger" (click)="movie.isEdit = false">Cancel</button>
            </div>
            <div *ngIf="!movie.isEdit">
              <button class="btn btn-sm btn-success" (click)="onEdit(movie)">Edit</button>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
  </div>
</div>
