<form class="wrap">
  <div class="search">
    <h3>Search Movie by name : </h3>
    <input class="searchTerm" type="text" name="searchTerm"
           placeholder="Filter by movie name"
           [(ngModel)]="searchTerm" (input)="search(searchTerm)" />
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Movie Name</th>
       <th scope="col">Ranking</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies | searchFilter: searchTerm; index as i">
      <td scope="row">{{ i + 1 }}</td>
      <td>
         {{ movie.name }}
      </td>
      <td>{{ movie.rank | number }}</td>
    </tr>
  </tbody>
</table>
