
.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-movie {
  max-width: 500px;
  padding-bottom: 50px;
  margin: auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

  .form-control::placeholder {
    font-family: FontAwesome;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th, td {
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
